<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<th:block th:replace="/fragments/head :: head"></th:block>
<body class="bg-secondary">

<div class="container my-5">
    <th:block th:if="${messages.size()}">
        <table class="table table-dark table-striped-columns">
            <thead>
            <tr>
                <th scope="col">Email</th>
                <th scope="col">Testo</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="message : ${messages}" th:object="${message}">
                <td th:text="*{email}"></td>
                <td th:text="*{text}"></td>
            </tr>
            </tbody>
        </table>
    </th:block>
    <div th:if="${messages.size() == 0}">
        <h1>Ancora nessun messaggio!</h1>
    </div>
</div>


</body>
</html>
